.status-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
}

.outerwrapper {
	width: 100%;
	position: relative;
	border: 1px solid #c8c7cf;

	h1,h2,h3,p,ul {
		padding: 10px 10px 0 10px;
		margin: 0;
		hyphens: auto;
	}

	.key {

		span {
			width: 10px;
			height: 10px;
			display: inline-block;
		}

		li {
			display: inline-block;
			margin-right: 10px;
		}
	}

	.chart {
		position: relative;
		margin-top: 20px;
	}

	.widget-tooltip {
		position: absolute;
		height: auto;
		padding: 6px 10px 6px 15px;
		width: 150px;
		color: #eee;
		background-color: #333;
		pointer-events: none;
		font-size: 0.8em;
		line-height: 1.4em;
		opacity: 1;
		-webkit-transition: opacity 0.2s ease;
		transition: opacity 0.2s ease;

		p {
			padding: 0;
		}

	}

	.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

.node rect {
	fill-opacity: .9;
	shape-rendering: crispEdges;
}

.node text {
	font-size: 0.9em;
	pointer-events: none;
	font-family: arial,helvetica,clean,sans-serif;
}

.link {
	fill: none;
	stroke: #000;
}
